@import './base.css';

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
  padding: 2rem;
  display: flex;
  /* align-items: center;
  justify-content: center;
  margin: 0 auto; */
}

button {
  background: var(--button-background-color);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

button:hover,
button:focus {
  background: var(--button-hover-color);
  color: #fff;
}

button:active {
  background: var(--button-active-color);
}

button:disabled {
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
  cursor: not-allowed;
}

.outline {
  background: transparent;
  color: var(--button-outline-text-color);
  border: 0.125rem dashed var(--button-outline-text-color);
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s, color 00.4s;
}

.outline:hover,
.outline:focus {
  background: var(--button-outline-background);
  color: var(--button-outline-hover-text-color);
  border-color: var(--button-background-color);
}

ul {
  list-style-type: none;
  padding: 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

a {
  color: 0.4s;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Card (li) */
li {
  background: var(--card-background);
  border: 0.09375rem solid var(--card-border-color);
  border-radius: 0.5rem;
  color: var(--card-text-color);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: background 0.2s, color 00.4s;
  box-shadow: 0 0.125rem 0.5rem 0 rgba(30,41,59,0.04);
}

li:hover {
  background: var(--card-background-hover);
  border-color: var(--color-border-hover);
  color: var(--color-heading);
}

li > a {
  color: inherit;
  text-decoration: none;
}

li > a:hover {
  background: none;
  text-decoration: inherit;
}

label {
  font-size: 1rem;
  font-weight: bold;
}

input,
textarea,
select {
  background: var(--input-background);
  color: var(--input-text);
  border: 1px solid var(--input-border);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: border-color 0.2s, 0.4s;
  font-size: 1rem;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus {
  border-color: var(--input-border-focus);
  outline: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  background: var(--button-disabled-background-color);
  color: var(--button-disabled-text-color);
  cursor: not-allowed;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

input:invalid:focus {
  border: solid 2px red;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

input:disabled {
  background-color: #f5f5f5;
  cursor: not-allowed;
}
